# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Amplify
amplify/backend/amplify-meta.json
amplify/backend/.temp
amplify/#current-cloud-backend
amplify/.config
amplify/mock-data
amplify/mock-api-resources
.amplify-hosting
amplify-build-config.json
amplifyconfiguration.json
amplify_outputs.json
